footer {
  background: $dark-grey;
  width: 100%;
  margin-bottom: 0;
  padding-top: 110px;
  padding-bottom: 110px;
}

.footer__social {
  margin-bottom: 150px;
}

.footer__social--img {
  width: 30px;
  height: 30px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__links {
  width: auto;

  & a {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}