<footer class="container d-flex d-flex--space-between">
    <div>
        <div class="footer__social d-flex">
            <img src="img/sprites/sprite.svg#facebook" class="footer__social--img img">
            <img src="img/sprites/sprite.svg#instagram" class="footer__social--img img">
            <img src="img/sprites/sprite.svg#youtube" class="footer__social--img img">
            <img src="img/sprites/sprite.svg#twitter" class="footer__social--img img">
        </div>
        <p class="white">© 2020 Vis-A-Vis</p>
    </div>
    <div class="footer__links d-flex d-flex--column">
        <a href="#" class="white text-great">Lorem</a>
        <a href="#" class="white text-great">Ipsum</a>
        <a href="#" class="white text-great">Demmy</a>
        <a href="#" class="white text-great">Text</a>
    </div>
    <div class="footer__links d-flex d-flex--column">
        <a href="#" class="white text-great">Lorem</a>
        <a href="#" class="white text-great">Ipsum</a>
        <a href="#" class="white text-great">Demmy</a>
        <a href="#" class="white text-great">Text</a>
    </div>
    <div class="footer__links d-flex d-flex--column">
        <a href="#" class="white text-great">Lorem</a>
        <a href="#" class="white text-great">Ipsum</a>
        <a href="#" class="white text-great">Demmy</a>
        <a href="#" class="white text-great">Text</a>
    </div>
</footer>
