<header>
    <div class="container d-flex d-flex--align-center">
        <img src="../img/sprites/sprite.svg#logo" class="img header--logo">
        <div class="header__links">
            <a href="#" class="header__links--link text-great">Lorem</a>
            <a href="#" class="header__links--link text-great">Ipsum</a>
            <a href="#" class="header__links--link text-great">Simply</a>
            <a href="#" class="header__links--link text-great">Dummy</a>
        </div>
    </div>
</header>
