<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main>
      <section class="section__main back-grey">
        <div class="section__main--title pl-325 pr">
          <h1 class="title title--main pa top-210">Lorem <br> Ipsum <br> is simply</h1>
        </div>
        <div class="section__main--info container d-flex">
          <div class="section__main--info-content d-flex d-flex--align-center">
            <div class="section__main--info-text">
              <h2 class="title title--great mb-20">Lorem Ipsum is simply dummy text of the printing</h2>
              <p class="mb-95">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <button class="button title">Lorem Ipsum</button>
            </div>
            <ul class="section__main--list">
              <li class="title section__main--list-item">It is a long established fact that a reader</li>
              <li class="title section__main--list-item">The point of using Lorem Ipsum is that</li>
              <li class="title section__main--list-item">Many desktop publishing packages</li>
              <li class="title section__main--list-item">There are many variations of passages</li>
            </ul>
          </div>
          <img src="../img/section1.png" class="section__main--img img">
        </div>
      </section>
    </main>
    //= includes/footer.html
    <!-- -->
    //= includes/scripts.html
  </body>
</html>
