<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main>
      <section class="section__main back-grey">
        <div class="section__main--title pl-325 pr">
          <h1 class="title title--main pa top-210">Lorem <br> Ipsum <br> is simply</h1>
        </div>
        <div class="section__main--info container d-flex">
          <div class="section__main--info-content d-flex d-flex--align-center">
            <div class="section__main--info-text">
              <h2 class="title title--great mb-20">Lorem Ipsum is simply dummy text of the printing</h2>
              <p class="mb-95">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <button class="button title">Lorem Ipsum</button>
            </div>
            <ul class="section__main--list">
              <li class="title section__main--list-item">It is a long established fact that a reader</li>
              <li class="title section__main--list-item">The point of using Lorem Ipsum is that</li>
              <li class="title section__main--list-item">Many desktop publishing packages</li>
              <li class="title section__main--list-item">There are many variations of passages</li>
            </ul>
          </div>
          <img src="../img/section1.png" class="section__main--img img">
        </div>
      </section>
      <section class="section__one back-grey ml-195">
        <div class="mr-325 ml-130">
          <div class="section__one--list-one d-flex d-flex--wrap">
            <div class="list-one__title mt-25 d-flex">
              <h2 class="title title--great list-one__title--text mb-70">Lorem Ipsum is simply</h2>
              <span class="list-one__title--line mt-25"></span>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">01</p>
              <p class="text-great ml-30">Contrary to popular belief, Lorem Ipsum</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">02</p>
              <p class="text-great ml-30">It was popularised in the 1960s with the release</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">03</p>
              <p class="text-great ml-30">Random text it has roots in a piece of classical</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">04</p>
              <p class="text-great ml-30">If you are going to use a passage of Lorem Ipsum</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">05</p>
              <p class="text-great ml-30">Latin literature from 45 BC, making it over 2000 years old</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">06</p>
              <p class="text-great ml-30">There are many variations of passages of Lorem Ipsum</p>
            </div>
          </div>
          <div class="mt-120 d-flex">
            <img src="../img/section2.png" class="section__one--img img ml-m325 mb-m70">
            <div class="ml-160">
              <h3 class="title title--small mb-20">There are many variations of passages</h3>
              <p class="mb-70">of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
              <div class="section__one--list-two d-flex">
                <ul>
                  <li class="list-two__item">Lorem Ipsum</li>
                  <li class="list-two__item">Lorem Ipsum</li>
                  <li class="list-two__item">Lorem Ipsum</li>
                </ul>
                <ul class="ml-30">
                  <li class="list-two__item">Lorem Ipsum</li>
                  <li class="list-two__item">Lorem Ipsum</li>
                  <li class="list-two__item">Lorem Ipsum</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    //= includes/footer.html
    <!-- -->
    //= includes/scripts.html
  </body>
</html>
