<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main>
      <section class="section__main back-grey">
        <div class="section__main--title pl-325 pr">
          <h1 class="title title--main pa top-210">Lorem <br> Ipsum <br> is simply</h1>
        </div>
        <div class="section__main--info container d-flex">
          <div class="section__main--info-content d-flex d-flex--align-center">
            <div class="section__main--info-text">
              <h2 class="title title--great mb-20">Lorem Ipsum is simply dummy text of the printing</h2>
              <p class="mb-95">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <button class="button title">Lorem Ipsum</button>
            </div>
            <ul class="section__main--list">
              <li class="title section__main--list-item">It is a long established fact that a reader</li>
              <li class="title section__main--list-item">The point of using Lorem Ipsum is that</li>
              <li class="title section__main--list-item">Many desktop publishing packages</li>
              <li class="title section__main--list-item">There are many variations of passages</li>
            </ul>
          </div>
          <img src="../img/section1.png" class="section__main--img img">
        </div>
      </section>
      <div class="d-flex ml-195 mb-m285">
        <h2 class="mt-70 title title--section">Lorem</h2>
        <div class="section__one--slider ml-130">
          <div class="slide">
            <div class="d-flex">
              <span class="title title--great"> </span>
              <h2>Lorem Ipsum</h2>
            </div>
            <ul>
              <li>It is a long established fact that a reader will be distracted</li>
              <li>The readable content</li>
              <li>There are many variations of passages</li>
            </ul>
          </div>
          <div class="slide">
            <div class="d-flex">
              <span class="title title--great"> </span>
              <h2>Lorem Ipsum</h2>
            </div>
            <ul>
              <li>It is a long established fact that a reader will be distracted</li>
              <li>The readable content</li>
              <li>There are many variations of passages</li>
            </ul>
          </div>
          <div class="slide">
            <div class="d-flex">
              <span class="title title--great"> </span>
              <h2>Lorem Ipsum</h2>
            </div>
            <ul>
              <li>It is a long established fact that a reader will be distracted</li>
              <li>The readable content</li>
              <li>There are many variations of passages</li>
            </ul>
          </div>
          <div class="slide">
            <div class="d-flex">
              <span class="title title--great"> </span>
              <h2>Lorem Ipsum</h2>
            </div>
            <ul>
              <li>It is a long established fact that a reader will be distracted</li>
              <li>The readable content</li>
              <li>There are many variations of passages</li>
            </ul>
          </div>
        </div>
      </div>
      <section class="section__one back-grey ml-195 pt-360">
        <div class="mr-325 ml-130">
          <div class="section__one--list-one d-flex d-flex--wrap">
            <div class="list-one__title mt-25 d-flex">
              <h2 class="title title--great list-one__title--text mb-70">Lorem Ipsum is simply</h2>
              <span class="list-one__title--line mt-25"></span>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">01</p>
              <p class="text-great ml-30">Contrary to popular belief, Lorem Ipsum</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">02</p>
              <p class="text-great ml-30">It was popularised in the 1960s with the release</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">03</p>
              <p class="text-great ml-30">Random text it has roots in a piece of classical</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">04</p>
              <p class="text-great ml-30">If you are going to use a passage of Lorem Ipsum</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">05</p>
              <p class="text-great ml-30">Latin literature from 45 BC, making it over 2000 years old</p>
            </div>
            <div class="list-one__item mb-20 w-50 d-flex">
              <p class="title--section blue">06</p>
              <p class="text-great ml-30">There are many variations of passages of Lorem Ipsum</p>
            </div>
          </div>
          <div class="mt-120 d-flex">
            <img src="../img/section2.png" class="section__one--img img ml-m325 mb-m70">
            <div class="ml-160">
              <h3 class="title title--small mb-20">There are many variations of passages</h3>
              <p class="mb-70">of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
              <div class="section__one--list-two d-flex">
                <ul>
                  <li class="list-two__item title">Lorem Ipsum</li>
                  <li class="list-two__item title">Lorem Ipsum</li>
                  <li class="list-two__item title">Lorem Ipsum</li>
                </ul>
                <ul class="ml-30">
                  <li class="list-two__item title">Lorem Ipsum</li>
                  <li class="list-two__item title">Lorem Ipsum</li>
                  <li class="list-two__item title">Lorem Ipsum</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section__two container">
        <div class="section__two__title d-flex mt-250 mr-130">
          <h2 class="title title--great section__two__title--text mb-70">Lorem Ipsum</h2>
          <span class="section__two__title--line mt-25 ml-30"></span>
        </div>
        <div class="d-flex mt-100 mr-130 ml-130" id="scroll-section">
          <div class="section__two__info-item">
            <img src="../img/sprites/sprite.svg#contact" class="img">
            <span><div> </div></span>
            <p>Lorem Ipsum is simply dummy</p>
          </div>
          <div class="section__two__info-item">
            <img src="../img/sprites/sprite.svg#phone" class="img">
            <span><div> </div></span>
            <p>Lorem Ipsum is simply dummy</p>
          </div>
          <div class="section__two__info-item">
            <img src="../img/sprites/sprite.svg#laptop" class="img">
            <span><div> </div></span>
            <p>Lorem Ipsum is simply dummy</p>
          </div>
          <div class="section__two__info-item">
            <img src="../img/sprites/sprite.svg#chat" class="img">
            <span><div> </div></span>
            <p>Lorem Ipsum is simply dummy</p>
          </div>
          <div class="section__two__info-item last-item">
            <img src="../img/sprites/sprite.svg#share" class="img">
            <span> </span>
            <p>Lorem Ipsum is simply dummy</p>
          </div>
        </div>
        <div class="d-flex mb-180 mt-120">
          <span class="section__two__title--line mt-25"></span>
          <button class="button ml-30">Lorem Ipsum</button>
        </div>
      </section>
      <section class="section__three back-grey pt-160 pb-180">
        <div class="container pl-325 d-flex d-flex--wrap">
          <item-card
                  v-for="item in elements"
                  v-bind:content="item"
                  v-bind:key="item.id"
          />
        </div>
        <div class="ml-325 d-flex d-flex--space-between section__three--sub-items">
          <div class="sub-item">
            <span></span>
            <p>Lorem Ipsum is simply</p>
          </div>
          <div class="sub-item">
            <span></span>
            <p>Lorem Ipsum is simply</p>
          </div>
          <div class="sub-item">
            <span></span>
            <p>Lorem Ipsum is simply</p>
          </div>
        </div>
      </section>
      <section class="section__four container-low pb-160 pt-300">
        <h2 class="title title--section mb-80">Lorem Ipsum is simply dummy text</h2>
        <div class="section__four--content d-flex">
          <div class="section__four--form">
            <h3 class="title title--small">It is a long established fact that a reader</h3>
            <form class="d-flex d-flex--wrap" id="form">
              <input type="text" placeholder="Name *" name="name" required>
              <input type="text" placeholder="Phone *" name="phone" required>
              <input type="text" placeholder="E-mail *" name="mail" required>
              <input type="radio" name="radio" id="radio" class="section__four--input">
              <label class="d-flex" for="radio">Lorem Ipsum is simply dummy text</label>
              <button class="button">Lorem Ipsum</button>
            </form>
          </div>
          <div class="info ml-97">
            <h3 class="title title--small">It is a long established fact that a reader</h3>
            <u><a href="#" class="title text-great">support@email.com</a></u>
            <p class="text-small">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
          </div>
        </div>
      </section>
    </main>
    //= includes/footer.html
    <!-- -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    //= includes/scripts.html
  </body>
</html>
