// Базовые марджины/паддинги дизайна

// Марджины
.ml-130 {
  margin-left: 130px;
}

.mr-130 {
  margin-right: 130px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-95 {
  margin-bottom: 95px;
}

.pl-325 {
  padding-left: 325px;
}

.top-210 {
  top: 210px;
}