// Основные стили, дополнение стилей reset.css для тегов которые убирают ненужные стили

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div {
  letter-spacing: 0.05em;
}

html {
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  color: $medium-grey;
}

body {
  margin-top: 90px;
  height: calc(100vh - 90px);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 160%;
}

button {
  outline: none;
  cursor: pointer;
}

input,
textarea {
  outline: none !important;
}

//main {
//  position: relative;
//  transition: opacity 0.55s, transform 0.55s;
//
//  &:not(.is-loaded) {
//    opacity: 0;
//    transform: translateY(20px);
//  }
//}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 195px;
  padding-right: 195px;

  //Писать свои значения
  // @media (min-width: $min-md) {
  //   max-width: 980px;
  // }

  // @media (min-width: $min-lg) {
  //   max-width: 1110px;
  // }

  // @media (min-width: 1500px) {
  //   max-width: 1210px;
  // }
}

.img {
  object-fit: cover;
  object-position: center;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}
