.d-flex {
  display: flex;
}

.d-flex--column {
  flex-direction: column;
}

.d-flex--space-between {
  justify-content: space-between;
}

.d-flex--space-center {
  justify-content: center;
}

.d-flex--align-start {
  align-items: flex-start;
}

.d-flex--align-center {
  align-items: center;
}

.d-flex--nowrap {
  flex-wrap: nowrap;
}

.d-flex--wrap {
  flex-wrap: wrap;
}
