.title {
  font-weight: bold;
}

.title--main {
  font-size: 180px;
}

.title--section {
  font-size: 50px;
}

.title--small {
  font-size: 30px;
}

.title--medium {
  font-size: 36px;
}

.title--great {
  font-size: 40px;
}